<div class="panel panel-primary admin-board">
    <div class="panel-heading">
        <h4>Admin board</h4>
    </div>
    <div class="panel-body">
        {{ form_rest(form) }}
        <a href="{{path('tamas_astro_adminHome')}}" role="button" class="btn btn-warning cancel-work">Cancel</a>
        {{ form_end(form)}} 

    </div>
</div>