/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
/vendor/
/nbproject/private/
composer.lock
old_composer.lock
env/*
web/pythonScript/__pycache__/*
web/bundles
*/__pycache__/*
*~
.project
.settings/
.web-server-pid
.buildpath
node_modules/
web/pythonScript/tableExport.spec
web/pythonScript/build/*
web/pythonScript/dist/*
web/pythonScript/table_content_*
doc/_build
.idea
.mypy_cache
.idea/workspace.xml
preserialize.txt
elastic_utils/logs/
elastic_utils/tmp/
temp/
!temp/.gitkeep
