{#app/Resources/FOSUserBundle/views/email/registration.html.twig#}
<html>
  <body>
    <h1>Bonjour vous !</h1>

<p> Vous avez récemment ajouté un nouveau livre à la liste : {{titre}}, et ça, c'est quelque chose qui ne s'oublie pas. Et si jamais cela vous arrivait, et bien, vous n'auriez qu'à <a href="{{path('tamas_astro_homepage', relative = false) ~ id}}">cliquer ici</a>. Merci encore !</p>
<img src="http://micromu.fr/microblog/wp-content/uploads/2013/03/thumbsandammo6.jpg"/>
  </body>
}

</html>