<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{{ asset('logo/favicon-ALFA.jpg') }}" />
	<link rel="stylesheet" href="{{ asset('css/ALFA.css')}}">

	<title>
		{% block title %}
			ALFA - Manuscript survey
		{% endblock %}
	</title>

	{% block stylesheets %}
		{% include '/includes/stylesheets.html.twig' %}
		<link rel="stylesheet" type="text/css" href="{{asset('css/ALFA.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap-treeview.css')}}" />
	{% endblock %}
</head>

<body>

	{% include 'TAMASALFABundle:Default:navbar.html.twig' %}

	<div class="row alfa-content">
		<div class="col-md-12">
			{% block main %}
			{% endblock %}
		</div>
	</div>
</body>

<footer class="container-fluid text-center"></footer>
{% block javascripts %}
	{% include '/includes/javascripts.html.twig' %}
{% endblock %}