<div class="well icon-info">
    <table>
        <tr>
            <td>
                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;
                Physical consultation
            </td>
            <td>
                <span class="glyphicon glyphicon-bookmark"></span>&nbsp;&nbsp;
                Catalog or bibliographic information
            </td>
            <td>
                <span class="glyphicon glyphicon-camera"></span>&nbsp;&nbsp;
                Digital consultation or microfilm
            </td>
        </tr>
    </table>
</div>