{% if include == "html" %}
	<div class="image">
		<img src="{{source}}" alt="{{ alt }}" title="{{ title }}" data-toggle="tooltip" data-placement="right"/>
	</div>
{% elseif include=="js" %}	
{% endif %}
