/*C:\wamp64\www\Symfony\web\css\tamasColorScheme.css*/

/* light blue color scheme*/

.color1{
/*    background-color: #CFE8E0*/
}

.color2{
    background-color: #CFE3E8
}
.color3{
    background-color: #CFD7E8
}

.color4{
    background-color: #D3CFE8
}

.color5{
    background-color: #CFE8D3
}

.color6{
    background-color: #A5D4C5
}

.color7{
    background-color: #7CC0AB
}

.color8{
    background-color: #E0CFE8
}
.color9{
    background-color: #D7E8CF
}

.color10{
    background-color: #C07C92
}

.color11{
    background-color: #D4A5B4
}

.color12{
    background-color: #E8CFE3

}

.color13{
    background-color: #E3E8CF
}

.color14{
    background-color: #E8E0CF
}

.color15{
    background-color: #E8D3CF
}

.color16{
    background-color: #E8CFD7
}

.color17{
    background-color: #B8E4EA
}


.color18{
    background-color: #B8CBEA
}


.color19{
    background-color: #BEB8EA
}


.color20{
    background-color: #D7B8EA
}


.color21{
    background-color: #B8EAD7
}


.color22{
    background-color: #89D2DC
}


.color23{
    background-color: #5AC0CE
}






