<svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1100 500">
    <title>hist-nav-6</title>
    <g id="hist-nav">
        <g id="_6" data-name="6">
            <g id="desc">
                <text class="thin-text" transform="translate(446.23 128.68)">A
                    <tspan x="0" y="27.6">may therefore contain</tspan>
                    <tspan x="0" y="55.2">manifestations of several</tspan>
                </text>
                <g id="primarySource-label">
                    <polygon class="primarySource-color" points="631.06 134.97 462.34 137.2 471.63 107.85 635.88 108.88 631.06 134.97"/>
                    <text class="bold-text" transform="translate(472.86 128.4)">primary source</text>
                </g>
                <g id="work-label">
                    <polygon class="work-color" points="436 198 440 220 522 225 524 194"/>
                    <text class="bold-text" transform="translate(450 215)">works</text>
                </g>
            </g>
            <g id="primarySource">
                <path class="primarySource-color" d="M375.13,87.53H363.68V75.21a2,2,0,0,0-2-2H348.11V54.5a2,2,0,0,0-1.39-1.9c-.6-.2-15-4.8-35.44-4.61-18.51.21-45.44,4.69-69.46,24.62-24-19.93-50.94-24.41-69.45-24.62-20.42-.2-34.84,4.41-35.45,4.61a2,2,0,0,0-1.38,1.9V73.21H122a2,2,0,0,0-2,2V87.53H108.52a2,2,0,0,0-2,2V250a2,2,0,0,0,2,2H375.13a2,2,0,0,0,2-2V89.53A2,2,0,0,0,375.13,87.53Z"/>
                <path class="black-stroke" d="M248.82,224.94s51-39.39,104.28-19.57V47.5s-58-18.92-104.28,20.71"/>
                <polyline class="black-stroke" points="128.97 82.53 115.52 82.53 115.52 243.01 248.82 243.01 248.82 243.01 382.13 243.01 382.13 82.53 368.68 82.53"/>
                <polyline class="black-stroke" points="144.54 68.21 128.97 68.21 128.97 226.06 248.82 226.06 368.68 226.06 368.68 68.21 353.11 68.21"/>
                <path class="black-stroke" d="M232.36,242.55a16.46,16.46,0,0,1,16.46-16.47h0a16.47,16.47,0,0,1,16.47,16.47"/>
                <path class="black-stroke" d="M248.82,224.94s-51-39.39-104.28-19.57V47.5s58.05-18.92,104.28,20.71Z"/>
            </g>
            <g id="work">
                <path class="work-color" d="M181.53,186.24a1.5,1.5,0,0,1-1.5-1.5v-18.1c-.08-.28-.54-.59-1.59-.6-2.93,0-10.82,0-10.9,0-2.54,0-7.45-1.48-7.85-7.75-.32-5-.16-11.35-.06-14.27h-5.52c-.41,0-4-.56-5.32-3.36-.86-1.85-.45-4.09,1.23-6.64,4.22-6.43,9-12.78,9.46-13.44a6.47,6.47,0,0,0,.92-3.09c0-9.15,4.25-17.76,12-24.22a42.05,42.05,0,0,1,26.6-9.6,39.85,39.85,0,0,1,28.66,12.22,36.19,36.19,0,0,1,10.26,26.76c-.86,19.81-10.83,28.26-16.7,31.54l-.19.1c-1.3,1.14-1.27,3.46-1.26,4.72v22.31a1.49,1.49,0,0,1-1.36,1.49l-36.71,3.43Zm-20.81-64.82h0Z"/>
                <path class="work-color" d="M310.11,186.24H310l-36.72-3.43a1.5,1.5,0,0,1-1.36-1.49V159c0-1.26,0-3.58-1.26-4.72l-.2-.1c-5.86-3.28-15.84-11.73-16.69-31.54A36.19,36.19,0,0,1,264,95.88a39.85,39.85,0,0,1,28.66-12.22c18.63,0,38.57,13.59,38.57,33.82a6.63,6.63,0,0,0,.91,3.09c.5.66,5.25,7,9.47,13.44,1.68,2.55,2.09,4.79,1.23,6.64-1.3,2.8-4.91,3.31-5.32,3.36H332c.1,2.92.26,9.31-.06,14.27-.4,6.27-5.36,7.8-7.88,7.75h0c-.06,0-7.94,0-10.87,0-1,0-1.51.32-1.6.6v18.1a1.48,1.48,0,0,1-1.5,1.5Zm1.5-19.58h0Z"/>
                <path class="thiner-black-stroke" d="M164.9,114.48C164.9,96.06,183,82.16,202,82.16c20.67,0,38.31,16.77,37.42,37.42-1,23.72-15.71,30-16.29,30.5-2.06,1.7-1.86,4.93-1.86,6.27v22l-36.71,3.43V163.52s-.09-2-3.07-2-10.93,0-10.93,0a6.29,6.29,0,0,1-6.34-6.35c-.42-6.49,0-15.67,0-15.67h-6.9s-7.47-.9-3-7.69,9.44-13.41,9.44-13.41A8.1,8.1,0,0,0,164.9,114.48Z"/>
                <line class="thiner-black-stroke" x1="214.59" y1="102.21" x2="183.75" y2="102.21"/>
                <line class="thiner-black-stroke" x1="214.59" y1="111.9" x2="183.75" y2="111.9"/>
                <line class="thiner-black-stroke" x1="214.59" y1="121.58" x2="183.75" y2="121.58"/>
                <line class="thiner-black-stroke" x1="214.59" y1="131.27" x2="183.75" y2="131.27"/>
                <line class="thiner-black-stroke" x1="214.59" y1="140.95" x2="183.75" y2="140.95"/>
                <line class="thiner-black-stroke" x1="214.59" y1="102.21" x2="214.59" y2="140.95"/>
                <line class="thiner-black-stroke" x1="204.31" y1="102.21" x2="204.31" y2="140.95"/>
                <line class="thiner-black-stroke" x1="194.03" y1="102.21" x2="194.03" y2="140.95"/>
                <line class="thiner-black-stroke" x1="183.75" y1="102.21" x2="183.75" y2="140.95"/>
                <path class="thiner-black-stroke" d="M332.75,114.48c0-18.42-18.13-32.32-37.07-32.32-20.67,0-38.31,16.77-37.42,37.42,1,23.72,15.71,30,16.29,30.5,2.06,1.7,1.85,4.93,1.85,6.27v22l36.71,3.43V163.52s.1-2,3.08-2,10.93,0,10.93,0a6.29,6.29,0,0,0,6.34-6.35c.42-6.49,0-15.67,0-15.67h6.9s7.47-.9,3-7.69-9.45-13.41-9.45-13.41A8.15,8.15,0,0,1,332.75,114.48Z"/>
                <line class="thiner-black-stroke" x1="283.06" y1="102.21" x2="313.9" y2="102.21"/>
                <line class="thiner-black-stroke" x1="283.06" y1="111.9" x2="313.9" y2="111.9"/>
                <line class="thiner-black-stroke" x1="283.06" y1="121.58" x2="313.9" y2="121.58"/>
                <line class="thiner-black-stroke" x1="283.06" y1="131.27" x2="313.9" y2="131.27"/>
                <line class="thiner-black-stroke" x1="283.06" y1="140.95" x2="313.9" y2="140.95"/>
                <line class="thiner-black-stroke" x1="283.06" y1="102.21" x2="283.06" y2="140.95"/>
                <line class="thiner-black-stroke" x1="293.34" y1="102.21" x2="293.34" y2="140.95"/>
                <line class="thiner-black-stroke" x1="303.62" y1="102.21" x2="303.62" y2="140.95"/>
                <line class="thiner-black-stroke" x1="313.9" y1="102.21" x2="313.9" y2="140.95"/>
            </g>
        </g>
    </g>
</svg>