<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1100 500">
    <title>hist-nav-2</title>
    <g id="hist-nav">
        <g id="_2" data-name="2">
            <g id="originalText">
                <path class="originalText-color" d="M389.62,201.35a.87.87,0,0,0,.1-.19,1.07,1.07,0,0,0,.07-.19l.06-.17a2,2,0,0,0,0-.24.77.77,0,0,0,0-.15,2.83,2.83,0,0,0,0-.29.37.37,0,0,0,0-.11h0L373,103a2,2,0,0,0-.09-.33s0,0,0-.05a2,2,0,0,0-.61-.83l-.1-.07s0,0-.05,0a2,2,0,0,0-1.44-.3h0l-25.82,4.4h0L319,110.16h0l-25.81,4.4h0a1,1,0,0,0-.25.07l-.14,0-.19.09a1.29,1.29,0,0,0-.16.09l-.14.1-.16.14a.52.52,0,0,0-.1.11,1.3,1.3,0,0,0-.15.18l-.08.13a1.28,1.28,0,0,0-.11.2.88.88,0,0,0-.05.15,1.43,1.43,0,0,0-.08.22s0,.11,0,.17l0,.22a1.24,1.24,0,0,0,0,.18,1.7,1.7,0,0,0,0,.22h0l16.92,97h0c0,.05,0,.09,0,.14a1.17,1.17,0,0,0,.06.2.54.54,0,0,0,.05.11,1.36,1.36,0,0,0,.1.21.35.35,0,0,0,.05.08c.05.07.09.14.15.21l.05,0,.19.19.06,0a1.7,1.7,0,0,0,.22.15l.08,0,.23.11.11,0a2,2,0,0,0,.23.06,2,2,0,0,0,.35,0,2,2,0,0,0,.34,0h0l25.82-4.4h0l25.81-4.4h0l25.82-4.4h0a1,1,0,0,0,.25-.07l.14,0a1.11,1.11,0,0,0,.19-.09A1.29,1.29,0,0,0,389,202l.14-.1.16-.13.11-.13a1.15,1.15,0,0,0,.14-.17A.67.67,0,0,0,389.62,201.35Z"/>
                <line class="black-stroke" x1="377.98" y1="96.33" x2="300.5" y2="109.53"/>
                <line class="black-stroke" x1="382.21" y1="120.58" x2="304.73" y2="133.78"/>
                <line class="black-stroke" x1="386.44" y1="144.83" x2="308.96" y2="158.04"/>
                <line class="black-stroke" x1="390.67" y1="169.09" x2="313.19" y2="182.29"/>
                <line class="black-stroke" x1="394.9" y1="193.34" x2="317.42" y2="206.54"/>
                <line class="black-stroke" x1="377.98" y1="96.33" x2="394.9" y2="193.34"/>
                <line class="black-stroke" x1="352.15" y1="100.73" x2="369.07" y2="197.74"/>
                <line class="black-stroke" x1="326.33" y1="105.13" x2="343.25" y2="202.14"/>
                <line class="black-stroke" x1="300.5" y1="109.53" x2="317.42" y2="206.54"/>
            </g>
            <g id="primarySource">
                <path class="primarySource-color" d="M255.88,115.63l-6.39-1.09V32.8a2,2,0,0,0-.71-1.52,2,2,0,0,0-1.63-.45L127.38,51.29c-13.75,1.17-23,10.49-23,23.22V229.27a23.26,23.26,0,0,0,23,23.23l127.75,24.89a2.45,2.45,0,0,0,.38,0,2,2,0,0,0,1.27-.46,2,2,0,0,0,.73-1.54V117.6A2,2,0,0,0,255.88,115.63Z"/>
                <path class="black-stroke" d="M134.63,88.75V243.51a21.24,21.24,0,0,1-21.24-21.24V67.51"/>
                <path class="black-stroke" d="M254.49,109.22V25.8L134.63,46.28c-12.78,1-21.24,9.51-21.24,21.23s7.18,20.19,21.24,21.24h0L262.54,110.6V268.43L134.63,243.51"/>
                <line class="black-stroke" x1="134.63" y1="88.75" x2="134.63" y2="46.28"/>
                <polyline class="black-stroke" points="134.63 55.32 244.96 42.09 244.96 107.42"/>
                <line class="black-stroke" x1="134.63" y1="61.53" x2="244.96" y2="55.7"/>
                <line class="black-stroke" x1="134.63" y1="67.63" x2="244.96" y2="68.21"/>
                <line class="black-stroke" x1="134.63" y1="73.61" x2="244.96" y2="80.22"/>
                <line class="black-stroke" x1="134.63" y1="79.71" x2="244.96" y2="92.93"/>
                <path class="black-stroke" d="M113.39,170.76s.87,6.15,10.71,7.05V109.08c-9.84-.91-10.71-6-10.71-6"/>
            </g>
            <g id="lines">
                <line class="black-stroke" x1="283.38" y1="73.11" x2="324.14" y2="36.51"/>
                <line class="black-stroke" x1="309.6" y1="82.35" x2="350.79" y2="66.86"/>
                <line class="black-stroke" x1="320.71" y1="222.69" x2="362.58" y2="231.56"/>
                <line class="black-stroke" x1="290.21" y1="234.51" x2="338.37" y2="260.63"/>
            </g>
            <g id="desc">
                <text class="thin-text" transform="translate(455.47 112.12)">
                    <tspan>The astronomical content</tspan>
                    <tspan x="0" y="27.6">can either be a text, diagram</tspan>
                    <tspan x="0" y="55.2">or table: DISHAS</tspan>
                    <tspan x="0" y="82.8">focuses on</tspan>
                </text>
                <g id="originalText-label">
                    <polygon class="originalText-color" points="568.07 173.43 640.12 171.49 636.88 204.64 566.65 202.9 568.07 173.43"/>
                    <text class="bold-text" transform="translate(572.9 195.4)">tables</text>
                </g>
            </g>
        </g>
    </g>
</svg>