<svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1100 500">
    <title>hist-nav-4</title>
    <g id="hist-nav">
        <g id="_4" data-name="4">
            <g id="desc">
                <text class="thin-text" transform="translate(522.28 116.6)">
                    <tspan>Each</tspan>
                    <tspan x="0" y="27.6">is considered to </tspan>
                    <tspan x="0" y="55.2">stem from a</tspan>
                </text>
                <g id="originalText-label">
                    <polygon class="originalText-color" points="729.99 124.22 576.68 126.27 576.69 93.09 722.11 96.37 729.99 124.22"/>
                    <text class="bold-text" transform="translate(582.73 116.47)">table witness</text>
                </g>
                <g id="work-label">
                    <polygon class="work-color" points="584.15 205.95 511.55 206.91 515.32 177.63 586.03 179.9 584.15 205.95"/>
                    <text class="bold-text" transform="translate(523.28 199.11)">work</text>
                </g>
            </g>
            <g id="originalText">
                <path class="originalText-color" d="M316.42,125.39h-9.8V114.82a2,2,0,0,0-2-2H292.94V96.64a2,2,0,0,0-1.38-1.9c-.51-.17-51.88-16.35-92.73,18-4.24-.83-25-6.74-33.35-43.5a2,2,0,0,0-3.95.44l.11,39.89A84.11,84.11,0,0,1,120,76.06a2,2,0,0,0-3.74,1l0,35.78H95.42a2,2,0,0,0-2,2v10.57H83.19a2,2,0,0,0-2,2V268.24a2,2,0,0,0,2,2H316.42a2,2,0,0,0,2-2V127.39A2,2,0,0,0,316.42,125.39Z"/>
                <polyline class="black-stroke" points="311.62 120.39 323.42 120.39 323.42 261.24 90.19 261.24 90.19 120.39 102.42 120.39"/>
                <polyline class="black-stroke" points="297.94 107.82 311.62 107.82 311.62 246.37 102.42 246.37 102.42 107.82 125.26 107.82"/>
                <path class="black-stroke" d="M192,260.84a14.46,14.46,0,0,1,28.91,0"/>
                <path class="black-stroke" d="M170.65,105.32C139.49,95.3,125.28,70,125.28,70l-.08,137.58s20.63,37,81.22,37.76V107.82s-26.24-2.46-35.89-45.18l.37,139.23s14.21,40.4,35.52,43.51"/>
                <path class="black-stroke" d="M206.42,245.38s44.78-34.57,91.52-17.17V89.64S247,73,206.42,107.82"/>
                <path class="thiner-black-stroke" d="M284.05,105.14s-26-7.68-67.32,15"/>
                <path class="thiner-black-stroke" d="M284.05,105.14s-26-7.68-67.32,15"/>
                <path class="thiner-black-stroke" d="M284.05,124.38s-26-7.68-67.32,15"/>
                <path class="thiner-black-stroke" d="M284.05,143.63s-26-7.68-67.32,15"/>
                <path class="thiner-black-stroke" d="M284.05,162.87s-26-7.68-67.32,14.95"/>
                <path class="thiner-black-stroke" d="M284.05,182.11s-26-7.68-67.32,14.95"/>
                <path class="thiner-black-stroke" d="M284.05,201.35s-26-7.68-67.32,15"/>
                <line class="thiner-black-stroke" x1="284.05" y1="201.35" x2="284.05" y2="105.14"/>
                <line class="thiner-black-stroke" x1="258.93" y1="201.16" x2="258.93" y2="105.14"/>
                <line class="thiner-black-stroke" x1="235.81" y1="207.43" x2="235.81" y2="111.74"/>
                <line class="thiner-black-stroke" x1="216.73" y1="120.09" x2="216.73" y2="216.31"/>
            </g>
            <g id="work">
                <path class="work-color" d="M373.37,178.46a2,2,0,0,1-2-2V150.78c-.12-.45-.8-.94-2.39-1-4.16-.06-15.34,0-15.46,0s-10.29.12-11-10.87c-.46-7.1-.22-16.27-.08-20.35H334.5c-.57-.07-5.63-.78-7.44-4.69-1.2-2.58-.62-5.71,1.73-9.3,6-9.13,12.74-18.13,13.42-19a9.5,9.5,0,0,0,1.31-4.45c0-13,6-25.11,16.93-34.25a59.52,59.52,0,0,1,37.64-13.59,56.35,56.35,0,0,1,40.53,17.29,51.15,51.15,0,0,1,14.52,37.85c-1.21,28-15.31,40-23.61,44.61l-.29.16c-1.88,1.64-1.85,5-1.83,6.78V171.6a2,2,0,0,1-1.81,2l-52.05,4.86ZM349.86,81.69h0Z"/>
                <path class="black-stroke" d="M351.52,76.11c0-26.13,25.72-45.84,52.57-45.84,29.3,0,54.32,23.78,53.05,53.06-1.45,33.63-22.27,42.56-23.1,43.24-2.91,2.41-2.63,7-2.63,8.89V166.6l-52,4.86V145.63s-.14-2.76-4.36-2.81-15.5,0-15.5,0-8.4.21-9-9,0-22.22,0-22.22h-9.78s-10.6-1.27-4.27-10.9,13.39-19,13.39-19A11.51,11.51,0,0,0,351.52,76.11Z"/>
                <line class="thiner-black-stroke" x1="423.42" y1="57.3" x2="378.69" y2="57.3"/>
                <line class="thiner-black-stroke" x1="423.42" y1="71.47" x2="378.69" y2="71.47"/>
                <line class="thiner-black-stroke" x1="423.42" y1="85.63" x2="378.69" y2="85.63"/>
                <line class="thiner-black-stroke" x1="423.42" y1="99.8" x2="378.69" y2="99.8"/>
                <line class="thiner-black-stroke" x1="423.42" y1="113.97" x2="378.69" y2="113.97"/>
                <line class="thiner-black-stroke" x1="423.42" y1="57.3" x2="423.42" y2="113.97"/>
                <line class="thiner-black-stroke" x1="408.51" y1="57.3" x2="408.51" y2="113.97"/>
                <line class="thiner-black-stroke" x1="393.6" y1="57.3" x2="393.6" y2="113.97"/>
                <line class="thiner-black-stroke" x1="378.69" y1="57.3" x2="378.69" y2="113.97"/>
            </g>
        </g>
    </g>
</svg>