<svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1100 500">
    <title>hist-nav-5</title>
    <g id="hist-nav">
        <g id="_5" data-name="5">
            <g id="desc">
                <g id="work-label">
                    <polygon class="work-color" points="433.42 97.16 498.7 96.29 494.34 126.56 430.77 124.2 433.42 97.16"/>
                    <text class="bold-text" transform="translate(438.31 117.41)">work</text>
                </g>
                <text class="thin-text" transform="translate(409.15 116.66)">
                    <tspan>A</tspan>
                    <tspan x="0" y="27.6">is an intellectual production</tspan>
                    <tspan x="0" y="55.2">that can manifest itself in</tspan>
                    <tspan x="0" y="82.8">several sources</tspan>
                </text>
            </g>
            <g id="work">
                <path class="work-color" d="M238.56,253.45h-.19l-71.71-6.7a2,2,0,0,1-1.82-2V201.18c0-2.63.08-7.5-2.84-10l-.48-.26c-11.29-6.31-30.48-22.59-32.13-60.83A69.77,69.77,0,0,1,149.19,78.5a76.94,76.94,0,0,1,55.3-23.58c35.95,0,74.43,26.18,74.43,65.15a13.92,13.92,0,0,0,1.94,6.56c.8,1.07,10.17,13.56,18.48,26.23,3.09,4.71,3.88,8.77,2.34,12.07-2.37,5.11-9.37,6-9.66,6H280.39c.18,5.13.56,18.64-.09,28.74C279.37,214.16,266,214,265.86,214s-15.53-.07-21.27,0c-3.5,0-4,1.65-4,2v35.47a2,2,0,0,1-2,2Z"/>
                <path class="black-stroke" d="M283.92,113.07c0-36-35.43-63.15-72.43-63.15-40.37,0-74.84,32.77-73.1,73.1,2,46.35,30.69,58.65,31.83,59.59,4,3.31,3.62,9.63,3.62,12.24v42.91l71.72,6.69V208.87s.18-3.81,6-3.88,21.35,0,21.35,0,11.58.28,12.4-12.4,0-30.61,0-30.61h13.47s14.6-1.75,5.89-15-18.46-26.19-18.46-26.19A15.92,15.92,0,0,1,283.92,113.07Z"/>
                <path class="thiner-black-stroke" d="M247,159.41s.1-47.92,0-59.57-12.2-12.49-12.2-12.49H184.51"/>
                <path class="thiner-black-stroke" d="M202.15,170.71s8-.67,8-10.64h51.6c0,10-8,10.64-8,10.64H198.61c-8.76,0-9-7.26-9-7.26V100.09c0-9.87-5.75-12.74-5.75-12.74a11.31,11.31,0,1,0,0,22.61h5.75"/>
                <path class="thiner-black-stroke" d="M189.54,97.86H182s3.5,6.18-3,11"/>
                <line class="thiner-black-stroke" x1="200.02" y1="108" x2="236.77" y2="108"/>
                <line class="thiner-black-stroke" x1="200.02" y1="118.21" x2="236.77" y2="118.21"/>
                <line class="thiner-black-stroke" x1="200.02" y1="128.41" x2="236.77" y2="128.41"/>
                <line class="thiner-black-stroke" x1="200.02" y1="138.62" x2="236.77" y2="138.62"/>
                <line class="thiner-black-stroke" x1="200.02" y1="148.83" x2="236.77" y2="148.83"/>
                <line class="thiner-black-stroke" x1="200.02" y1="108" x2="200.02" y2="148.83"/>
                <line class="thiner-black-stroke" x1="212.27" y1="108" x2="212.27" y2="148.83"/>
                <line class="thiner-black-stroke" x1="224.52" y1="108" x2="224.52" y2="148.83"/>
                <line class="thiner-black-stroke" x1="236.77" y1="108" x2="236.77" y2="148.83"/>
            </g>
        </g>
    </g>
</svg>