<svg xmlns="http://www.w3.org/2000/svg" {#viewBox="0 0 800 300"#}viewBox="0 0 1100 500">
    <title>hist-nav-1</title>
    <g id="hist-nav">
        <g id="_1" data-name="1">
            <g id="desc">
                <text class="thin-text" transform="translate(432.31 117.61)">
                    <tspan>A</tspan>
                    <tspan x="0" y="27.6">is a manuscript or an early</tspan>
                    <tspan x="0" y="55.2">printed book displaying</tspan>
                    <tspan x="0" y="82.8">astronomical content</tspan>
                </text>
                <g id="primarySource-label">
                    <polygon class="primarySource-color" points="616.83 123.84 451.26 126.04 460.33 93.53 621.52 94.95 616.83 123.84"/>
                    <text class="bold-text" transform="translate(461.33 116.72)">primary source</text>
                </g>
            </g>
            <g id="primarySource">
                <path class="primarySource-color" d="M308.77,56.83l-4.31-.44h0L157.78,41.7A20.42,20.42,0,0,0,135.44,60L117.62,237.85a20.42,20.42,0,0,0,18.27,22.34h.23a1,1,0,0,0,.17,0l150.59,15.09h.2a2,2,0,0,0,2-1.8L306.89,95.65a2,2,0,0,0-1.79-2.19l-2.32-.24,3.27-32.65,2.32.24a2,2,0,1,0,.4-4Z"/>
                <polyline class="black-stroke" points="143.49 251.24 294.07 266.33 311.9 88.45 161.31 73.36"/>
                <path class="black-stroke" d="M160.91,73.32a18.41,18.41,0,1,1,3.67-36.63L311.26,51.38l4.31.44"/>
                <path class="black-stroke" d="M143.09,251.2a18.39,18.39,0,0,1-16.48-20.15"/>
                <line class="black-stroke" x1="311.26" y1="51.38" x2="307.59" y2="88.01"/>
                <line class="black-stroke" x1="144.43" y1="53.17" x2="309.43" y2="69.7"/>
                <line class="black-stroke" x1="144.43" y1="53.17" x2="126.61" y2="231.05"/>
                <line class="black-stroke" x1="143.49" y1="251.24" x2="161.31" y2="73.36"/>
                <path class="black-stroke" d="M132.42,173.56s.29,7.09,11.37,9.24l0-.19,7.81-77.94c-11.08-2.15-11.49-8-11.49-8"/>
            </g>
        </g>
    </g>
</svg>