<div id="dialog-wip" class="hidden" title="Warning">
    <img src="{{asset('img/construction-workers.jpg')}}"/>
    <p>This feature has not been released yet ! It will be available in the next version of the website.</p>
</div>
        
       