<div style="text-align: center; padding: 5em 0 2em 0">
	<p class="nav-desc">Find more about navigation in DISHAS platform.</p>
	<br>
	<a class="btn btn-beige" href="{{path('tamas_astro_navigation')}}">Navigation</a>
</div>
