{#Symfony\src\TAMAS\AstroBundle\Resources\views\Default\layout.html.twig#}
{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block mainContent %}

	{% for type, flashes in app.session.flashbag.all %}
		{%for flash in flashes%}
			<div class="flash-notice alert alert-{{type}} fade in">
				{{ flash }}
			</div>
		{% endfor %}
	{% endfor %}
	
	{# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
	{% block tamasastro_body %}
	
	{% endblock %}

{% endblock %}