<img src="{{absolute_url(asset('logo/inline-dishas'))}}"></img>
<h3>New message from DISHAS</h3>
<p>{{message|raw}}</p>

<div>
    <p>From: {{from}}</p>
    <p>Answer back to: {{address}}</p>
</div>
<div>
    <p><i style="color: #428BCA;">Please do not reply to this email; this address is not monitored.</i></p>
</div>
