{% if currentNode == "TE-rec" %}
    <div class="row edition-box-div">
        <div id="{{ divId }}"></div>
    </div>
{% else %}
    <div class="row">
        <div id="{{ divId }}"></div>
    </div>
{% endif %}