<div id="button-dialog-nav" hidden='hidden' title="Button tools">

	<div id="selection-group" class="btn-group" role="group"
		aria-label="...">
		<button type="button" class="button-super thebutton">
			<div class="mysuper">&nbsp;</div>
			<span class="tooltiptext">Select Super-Cell</span>
		</button>
		<button type="button" class="button-column thebutton">
			<div class="mycolumn">&nbsp;</div>
			<span class="tooltiptext">Select Column</span>
		</button>
		<button type="button" class="button-line thebutton">
			<div class="myline">&nbsp;</div>
			<span class="tooltiptext">Select Line</span>
		</button>
	</div>
	<br />
	<div id="tools-group" class="btn-group" role="group" aria-label="...">
		<button type="button" class="button-forward thebutton">
			<div class="myforward">&nbsp;</div>
			<span class="tooltiptext">Forward Inteprolation</span>
		</button>
		<button type="button" class="button-between thebutton">
			<div class="mybetween">&nbsp;</div>
			<span class="tooltiptext">In-between Interpolation<span
				class="shortcut">B</span></span>
		</button>
	</div>
	<br />
	<div class="btn-group" role="group" aria-label="...">
		<button id="button-fill" type="button" class="thebutton"
			data-toggle="modal" data-target="#dialog-fill">
			<div class="fill-table">&nbsp;</div>
			<span class="tooltiptext">Fill with model</span>
		</button>
		<button id="button-symmetries" type="button" class="thebutton"
			data-toggle="modal" data-target="#symmetry-fill">
			<span id="symmetries-icon" class="mysymmetry">&nbsp;</span> <span
				class="tooltiptext">Fill with symmetry</span>
		</button>
		<button type="button" class="button-validate thebutton">
			<div class="myvalidate">&nbsp;</div>
			<span class="tooltiptext">Validate Selection<span
				class="shortcut">Space</span></span>
		</button>
	</div>
	<br />
	<div class="btn-group" role="group" aria-label="...">
		<button =type="button" class="button-commentary thebutton">
			<div class="mycommentary">&nbsp;</div>
			<span class="tooltiptext">Comment<span class="shortcut">C</span></span>
		</button>
		<button id="button-parameter" type="button" class="thebutton"
			data-toggle="modal" data-target="#dialog-parameter">
			<div class="parameters">&nbsp;</div>
			<span class="tooltiptext">Link with parameters</span>
		</button>

	</div>
	<br />
	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="button-undo thebutton">
			<div class="myundo">&nbsp;</div>
			<span class="tooltiptext">Undo<span class="shortcut">Ctrl+Z</span></span>
		</button>
	</div>
	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="button-redo thebutton">
			<div class="myredo">&nbsp;</div>
			<span class="tooltiptext">Redo<span class="shortcut">Ctrl+Shift+Z</span></span>
		</button>
	</div>
	<br />

	<div id="visualization-group" class="btn-group" role="group"
		aria-label="...">
		<button id="button-formula" type="button" class="thebutton"
			data-toggle="modal" data-target="#dialog-create-info">
			<div class="myformula">&nbsp;</div>
			<span class="tooltiptext">Add Information</span>
		</button>
		<button type="button" class="button-graph thebutton">
			<div class="mygraph">&nbsp;</div>
			<span class="tooltiptext">View Graph</span>
		</button>
		<button type="button" class="button-switch thebutton">
			<div id="switch-icon" class="switch">&nbsp;</div>
			<span class="tooltiptext">Switch main/difference table</span>
		</button>
	</div>



</div>