<div id="tablecontent-sidetip" class="sidetip">
  <button type="button" class="close close-tip" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

	<div id="sidetip-header">
		<h4>Tip pannel</h4>
	</div>
	<div id="tip-title">
		<select id="tip-title-select"></select>
	</div>
	<div id="tip-main" >
		<div id="tip-content" class="description-block"></div>
	</div>

	<div id="sidetip-footer">
		<a id="close-tip" class='btn btn-default close-tip'>Close</a>
	</div>
</div>
